/* base */

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: var(--neutral-900);
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

a {
    display: block;
    font-weight: 500;
    text-decoration: none;
    color: var(--neutral-900);
}
