/* index */

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding-right: 12px;
    padding-left: 12px;
}

.hero-header {
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week1/hero.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.hero-header-dark {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 151px 0;
}

@media (max-width: 768px) {
    .hero-header {
        background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/hero-sm.png?raw=true");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .hero-header-dark {
        padding: 87px 0;
    }
}

.s01 {
    text-align: center;
    border-radius: 12px;
}

@media (max-width: 768px) {
    .s01 {
        text-align: left;
    }
}

.history-list {
    list-style-type: disc;
    padding-left: 24px;
}

.history-left {
    padding-left: 8px;
    border-left: 1px solid var(--neutral-900);
}

.history-right {
    padding-right: 8px;
}

.concept-left {
    border-left: 3px solid var(--neutral-300);
    padding-left: 12px;
}

.story-list {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.bi {
    padding-right: 8px;
    vertical-align: bottom;
}